/* Put here your custom styles */

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: bisque;
}

.debugging-border {
	border-style: solid;
	border-width: 1px;
	border-color: darkgray;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.post {
	display: flex;
	flex-direction: column;
}

.post-wrap {
	border: 1px solid goldenrod;
	margin-bottom: 1%;
	padding: 1%;
	border-radius: 10px;
}

.post-wrap div {
	padding-bottom: 1%;
}

.post-wrap p {
	margin: 0;
}

.nav-bar {
	padding: 1%;
	font-size: 26px;
}

.nav-bar a {
	margin-right: 2%;
}

.nav-bar a,
.comments a {
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	color: inherit;
}

a:hover {
	cursor: pointer;
}

.nav-bar a.active {
	border-bottom: 5px solid grey;
}

.post-url {
	width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	white-space: nowrap;
	color: rgb(13, 102, 158);
	fill: rgb(13, 102, 158);
}

.post-wrap div.comments {
	padding-bottom: 0;
}

translation {
	float: right;
}

img {
	border-radius: 10px;
	padding: 5px;
	margin: 0 5px 5px 0;
	width: 250px;
	float: left;
	height: 250px;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.pic-posted-by {
	clear: both;
}

pic {
	display: flex;
	flex-direction: row;
}

.pic {
	float: left;
}

.pic-wrap {
	float: left;
}
